@import "tailwindcss";

/* html, body, #root {
  height: 100%;
} */


.scrollable-grid::-webkit-scrollbar {
  width: 4px;
}

.scrollable-grid::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

.scrollable-grid::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}



